.more-info-image {
  max-width: 100%;
}

.legalities-box {
  border: 1px solid black;
  padding: 0.2em;
  margin-right: 0.2em;
  background-color: #2e4347;
  color: white;
}

.legalities-box-space {
  display: flex;
  justify-content: left;
  margin: 0.4em auto;
}
